#main-page-container {
  display: flex;
  flex-direction: column;
  border: 7px solid black;
  border-radius: 5px;
  height: 460px;
  margin: 5px;
}

#piano-display-container {
  border: 5px solid black;
  border-radius: 5px;

  justify-content: center;
  align-items: center;
  margin: 3px;

}

#feedback-display-container {
  border: 5px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 3px;
}
