/*Song info Styles*/

.song-details-grid{
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.song-key-details{
    display:flex;

    gap: 1px;
    border: 6px solid black;
    border-radius: 10px;
    margin:1px 50px;
    padding: 15px;
    background-color:antiquewhite
}
.song-button{
    display:flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 6px;
    margin-left:auto;
    background-color: rgb(238, 215, 187);
}
.song-general-details{

    border: 2px solid black;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(238, 215, 187);
}
.song-description{
    border: 2px solid black;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(238, 215, 187);
}
.song-details-title{
    display:flex;
    justify-content: center;
}

.create-song-container{
    border: 1px solid black;
    display:flex;
    flex-direction: column;

}
.create-song-button{
    border: 4px solid black;
    border-radius: 4px;
    padding: 5px 20px;
    background-color: rgb(243, 154, 90);

}


.create-button-container{

    display:flex;
    justify-content: center;

}
.create-song-form{
    border: 2px solid black;
    display: flex;

}
.create-song-title{
    display:flex;
    justify-content: center;


}

.modal-content-update-song{
    display:flex;
    flex-direction: column;
    background-color: bisque;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius:4px;
    margin: 10% 30%;
    padding: 2% 0;

    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.create-song-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    align-items: center;
    padding:0px;
    margin:5px 30%;
    border: 5px solid black;
    border-radius:5px;
    background-color: rgb(243, 154, 90);

}


.create-song-form textarea {
    resize: none;
    overflow-y: auto;
    height: 100px;
    width: 100%;
}

.create-song-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
}

.create-song-form label {
    margin-bottom: 1px;
    text-align: center;
}

.create-song-form input,
.create-song-form select,
.create-song-form textarea {
    width: 100%;
    text-align: center;
}
/*Chord info Styles*/

/*Key info Styles*/

/*Scale info Styles*/

/*Progression info Styles*/
