.create-review-container{
    display: flex;
    flex-direction: column;
    margin: 0px


}

.create-review-form{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    margin:0px 30%;
    padding: 20px;
    background-color: rgb(243, 154, 90);



}

.create-review-form textarea {
    resize: none;
    height: 150px; /* Set your desired fixed height */
    overflow-y: auto;
    padding: 8px;
}
.create-review-form textarea,
.create-review-button {
    width: 100%;
    box-sizing: border-box;
}

.review-title{
    display:flex;
    justify-content: center;
}

.reviews-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.create-review-word{
    margin: 0px;

}

.create-review-button{
    margin: 20px 0px;
}
