/* Piano keys base styles */
.white-key, .black-key {
    position: relative;
    cursor: pointer;
    pointer-events: auto;
}

/* White keys specific */
.white-key {
    z-index: 1;
}

/* Black keys specific */
.black-key {
    z-index: 3;  /* Higher z-index to ensure black keys are above white keys */
}



/* Pressed states */
.white-key-pressed, .black-key-pressed {
    position: relative;
    pointer-events: none;
}



/* Background */
.scales {
    position: absolute;
    z-index: -1;
    pointer-events: none;
}
