/* Piano keys base styles */
.white-key, .black-key {
    position: relative;
    cursor: pointer;
    pointer-events: auto;
}

/* White keys specific */
.white-key {
    z-index: 1;
}

/* Black keys specific */
.black-key {
    z-index: 3;  /* Higher z-index to ensure black keys are above white keys */
}

/* Pressed states */
.white-key-pressed, .black-key-pressed {
    position: relative;
    pointer-events: none;
}

/*
piano-container {
    position: relative;
    z-index: 1;
}
*/
/* Background */
.scales {
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.white-key, .black-key {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.training-container{
    display:grid;
    grid-template-columns: 3% 50% auto 25% 3%;
    grid-template-rows: 100%;
    border-top: 5px solid green;
    margin-top:23px;
    grid-template-areas:
    "header question space answer footer"

     ;


}





.question{
    grid-area: question;
    border: 5px dotted black;

}
.answer{
    grid-area: answer;
    border: 5px dotted black;

}
