/* Piano keys base styles */
.white-key, .black-key {
    position: relative;
    cursor: pointer;
    pointer-events: auto;
}

/* White keys specific */
.white-key {
    z-index: 1;
}

/* Black keys specific */
.black-key {
    z-index: 3;  /* Higher z-index to ensure black keys are above white keys */
}

/* Pressed states */
.white-key-pressed, .black-key-pressed {
    position: relative;
    pointer-events: none;
}

/*
piano-container {
    position: relative;
    z-index: 1;
}
*/
/* Background */
.scales {
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.white-key, .black-key {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#piano{
    position:absolute;

    margin: 0px;
    padding:0px
}

.pbottom{
    position:absolute;
    border: 5px solid black;
    background-color: rgb(61, 35, 3);
    margin-top:12%;
    width: 99%;
    height:20px

}

.loading-spinner{
    border: 5px solid black
}

.piano-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#piano-container {
    position: relative;
    width: 100%;
    padding:0px;
    margin:0px;
    

}
