.piano-chart-container {
  display: flex;
  flex-direction: row;


  width: 100%;
  height: 300px;
  margin: 0px 0;
  position: relative;
  max-width: 100vw; /* Never exceed viewport width */
  overflow-x: hidden; /* Prevent horizontal scrolling */

}

.piano-chart {
  width: 100%;
  height: 100%;

}

.piano-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  width: 100%;
  height: 300px; /* Adjust based on your piano height */
}
